//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');


//variables

@import './variables.scss';

$white:#f4f4f4;
$orange:#f2a755;
$black:#2d2d2d;
$pink:#ef84e0;


body{
    font-family:'Roboto', sans-serif;
}

